/* body {


} */

.home-container {
    background-image: url("../src/images/coffee-and-coffee-beans-FCLYCC5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.coffee-collection {
    display: flex;
    flex-wrap: wrap;
}

.coffeeStyles {
    color: Whitesmoke;
    background-color: #874b16b2;
    text-align: center;
    border: 1px solid whitesmoke;
    width: 200px;
    margin: 3em;
    margin-top: 6em;
    padding: 15px;
}

.coffeeStyles p {
    padding: 10px;
}

.navList a {
    color: brown;
    text-decoration: none;
}

.navList a:visited {
    color: brown;
}

.navList a:hover {
    font-family: "Decomart FF 4F";
    color: rgb(2, 2, 2);
}

.about-container h1 {
    color: whitesmoke;
    margin: 5em;
}
